body { font: 1em sans-serif;}

html, body {
    overflow: visible; /* or overflow: visible; */
}



/* GRID SETUP */
.calendar {
  display: grid;
  grid-gap: 1px;
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  height: 90vh;
/*   padding: 5px; */
}

.weekly-byhour {
  /* NAMED LINE NUMBERS (between tracks): 
        COLS: hour markers + 7 days
        ROWS: day markers + 24 hours */
  grid-template-columns: 
    [time] auto [sun] 1fr [mon] 1fr [tue] 1fr [wed] 1fr [thu] 1fr [fri] 1fr [sat] 1fr [end-col];
  grid-template-rows:
    [day]  1fr
    [h00]  1fr 
    [h01]  1fr 
    [h02]  1fr 
    [h03]  1fr 
    [h04]  1fr 
    [h05]  1fr
    [h06]  1fr
    [h07]  1fr 
    [h08]  1fr
    [h09]  1fr
    [h10]  1fr 
    [h11]  1fr 
    [h12]  1fr 
    [h13]  1fr 
    [end-row];
}

/* GENERAL ITEM SETUP */
.calendar li {
  background-color: white;
  padding: 0.25em;
  display: inline-block;
}

/* ITEM TYPES */

li.day { text-align: center; }

li.event { background-color: #82caaf; position: absolute; height: 96%; width: 96%; }

/* CATEGORIES */
.event.production { background-color: #fecf6a; }
.event.Break { background-color: #bcf6e1; }
.event.LunchBreak { background-color: #d4d4d4; }

/* DAY HEADINGS   row / col */
.sun { grid-area: day / sun; }
.mon { grid-area: day / mon; }
.tue { grid-area: day / tue; }
.wed { grid-area: day / wed; }
.thu { grid-area: day / thu; }
.fri { grid-area: day / fri; }
.sat { grid-area: day / sat; }

/* TIME HEADINGS  row / col */
.h00 { grid-area: h00 / time; }
.h01 { grid-area: h01 / time; }
.h02 { grid-area: h02 / time; }
.h03 { grid-area: h03 / time; }
.h04 { grid-area: h04 / time; }
.h05 { grid-area: h05 / time; }
.h06 { grid-area: h06 / time; }
.h07 { grid-area: h07 / time; }
.h08 { grid-area: h08 / time; }
.h09 { grid-area: h09 / time; }
.h10 { grid-area: h10 / time; }
.h11 { grid-area: h11 / time; }
.h12 { grid-area: h12 / time; }
.h13 { grid-area: h13 / time; }

